PORT=8080
DB_HOST=mysqldb
DB_USERNAME=root
DB=test
DB_PASSWORD=password
DB_PORT=3306
TOKEN=00D52000000JQ0m!AQ8AQM.yk5sPLfpIjqCgMjYSV5m4YefsvQ_T3RFXvwfmBsZKhPD.H3Y8KTwKGZW5hFIVQRmOStqSYdDTXN8nPWEh__ad4X6W

partnerApiKey=31651524
authData={"sessions":[{"username":"ted.metzger@hearst.com","password":"2ndSt=Ace"}]}
BUZZBOARD_TOKEN=9161ef8e-9f97-3361-b1e4-d92ce0c3488a
BUZZBOARD_CALLBACK_URL="https://8fc1-202-47-54-93.ngrok.io/buzzboard/callback"
